html{
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

}

#paidVsUnpaid{
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);



}

img{
  width:80%;
  height:80%;
}